@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: white;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 10px 0px;
}

h2 {
  font-family: "Schibsted Grotesk";
  font-weight: 400;
  font-size: 2rem;
  color: #31b0d5;
  text-transform: uppercase;
  text-align: center;
}

.Navbar {
  font-family: sans-serif;
  background-color: #31b0d5;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  display: flex;
  justify-content: center;
}
.Navbar a {
  font-weight: 200;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.Navbar .navlink:hover {
  background-color: #10a7d1;
}

.jumbotron {
  height: 100vh;
  background: #31b0d5;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}
.jumbotron .jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 2em;
  color: #fafafa;
  text-align: center;
  padding-top: 150px;
}
.jumbotron .jumbotron-text p {
  margin: 0;
}
.jumbotron .jumbotron-text h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}
.jumbotron .jumbotron-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.jumbotron .jumbotron-social .social {
  font-size: 2em;
  color: white;
  padding: 20px;
}
.jumbotron .logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.5em;
  margin: 0px 10px;
  transform: rotate(0deg);
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.jumbotron .logo:hover {
  transform: rotate(5deg);
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}
.jumbotron .github-logo {
  height: 1.7em;
}
.jumbotron .github-logo:hover {
  transform: rotate(-5deg);
}

@media (max-width: 425px) {
  .jumbotron .jumbotron-text {
    padding-top: 0px;
    font-size: 1.5em;
    text-align: left;
  }
  .jumbotron .jumbotron-text h1 {
    font-size: 2.5em;
  }
  .jumbotron span {
    font-size: 1em;
  }
  .jumbotron .jumbotron-social {
    flex-direction: column;
    align-items: baseline;
  }
  .jumbotron .jumbotron-social .social {
    padding: 5px 0px;
  }
  .jumbotron .logo {
    height: 1.3em;
  }
  .jumbotron .github-logo {
    height: 1.5em;
  }
}
.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Section {
  margin: 20px 100px;
  padding: 40px 80px;
  border-radius: 20px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}
.Section p, .Section li {
  color: #202020;
  line-height: 150%;
}
.Section img {
  box-shadow: 0px 5px 7px 0px #dbdbdb;
}
.Section img[alt=profile] {
  width: 280px;
}
.Section img[alt=trello-clone] {
  width: 800px;
}
.Section img[alt=hangman] {
  width: 300px;
}
.Section img[alt=cryptid] {
  width: 400px;
}
.Section img[alt=dnd] {
  width: 300px;
}

@media (max-width: 425px) {
  .Section {
    padding: 5px 10px;
    margin: 5px 5px;
  }
}
.Skills .ul-skills {
  text-align: center;
  padding-left: 0;
}
.Skills .ul-skills .li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: #31b0d5;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}

.Contact .contact-form {
  max-width: 500px;
  margin: 0 auto;
}
.Contact .contact-form input, .Contact .contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #1d6fa5;
  color: #fff;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.Contact .contact-form input::placeholder, .Contact .contact-form textarea::placeholder {
  color: #c7c7c7;
}
.Contact .contact-form textarea {
  height: 150px;
  resize: none;
}
.Contact .contact-form button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #3498db;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.container {
  /*sets up flexbox*/
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 400;
  font-size: 1.75em;
  color: white;
  text-align: center;
  margin-top: 30px;
}

.contact-info > span {
  margin: 5px 20px;
}

.small {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.row {
  display: flex;
}

.white {
  background: white;
}

.white-text {
  color: white;
}

.blue {
  background: #3498db;
  text-align: center;
}

.side-content {
  flex: 0 0 16.6%;
}

.main-content {
  flex: 0 0 66.6%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.side-content-sm {
  flex: 0 0 10%;
}

.main-content-lg {
  flex: 0 0 80%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.content-body {
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 425px) {
  .contact-info {
    font-size: 1.2em;
    flex-direction: column;
    align-items: baseline;
    margin: 30px 0px;
  }
}

/*# sourceMappingURL=App.css.map */
